<div id="listaTributos">
        <nav class="navbar navbar-light bg-light" >
          <div class="logotitle">
              <img class="img-header" alt="Lannister" src="img/Lannister_Logo.png">
              <span class="navbar-brand mb-0 h1">Lannister</span>
          </div>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item landingFromListTrib"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista Tributos</a></li>
          </ol>
        </nav>
        <div class="row">
               <div class="col-md-8 offset-md-2">
                    <div class="TribsTable_load">
                            <div class="lds-dual-ring"></div>
                    </div>
                <table id="TribsTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%" ></table>
            </div>
        </div>    
 </div>
<script src="js/listaTribs.js"></script>
        