<div id="resumenTribs">
    <nav class="navbar navbar-light bg-light" >
      <div class="logotitle">
          <img class="img-header" alt="Lannister" src="img/Lannister_Logo.png">
          <span class="navbar-brand mb-0 h1">Lannister</span>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item landingFromResumenTribs"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Resumen Tributo</a></li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-8 offset-md-2">
                <div class="recap_load">
                        <div class="lds-dual-ring"></div>
                </div>
            <div class="row summarydiv">
                <div class="col">
                    <div class="card" id="grad-dia">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">Recaudación Día</h5>
                          <p class="card-text-Dia tribdata"></p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" id="grad-mes">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">Media Mes</h5>
                          <p class="card-text-Mes tribdata"></p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" id="grad-ano">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">Sumatoria Año</h5>
                          <p class="card-text-Ano tribdata"></p>
                        </div>
                      </div>
                </div>
        </div>
     </div>
    </div>   
    <div class="row">
            <div class="col-md-8 offset-md-2">
                    <canvas id="myChart"></canvas>
         </div>
     </div>  
</div>
</div>
<script src="js/resumenTributos.js"></script>